header {
    background-color: rgb(163, 0, 0);
    height: 100px;

}

title {
    color: goldenrod;
}
h1{font-size: 100px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
main {
    margin: 0%;
    background-color: rgb(213, 0, 0);
    height: 1000px;
}

h2{font-size: large; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
h1,
h2,
p {
    color: goldenrod;
}

footer {
    background-color: rgb(163, 0, 0);
    height: 100px;
}